<header>
    <h1>Grades!</h1>

    <nav>
        <ul>
            <li><a href="~/Home.cshtml">Home</a></li>
            <li><a href="~/CreateNewTable.cshtml">Create new table</a></li>
            <li><a href="~/AddNewGrades.cshtml">Add grade</a></li>
            <li><a href="~/ChangeOrDeleteGrade.cshtml">Change or delete a grade</a></li>
            <li><a href="~/GradesTable.cshtml">View table</a></li>
            <li><a href="~/SearchGrade.cshtml">Search grade</a></li>
        </ul>
    </nav>
</header>