@using GradesNamespace;

@{
    Page.Title = "Grades";
    Layout = "_Layout.cshtml";
}

<div>
    <section class="intro">
        <h2>Welcome to the grade keeper!</h2>
        <p>
            Do you want to keep track of the performances of your students?<br />
            Do you want to easily review the results of the exams <br />
            and create a full grade table for the secretary's office?<br />
            We provide you with the opportunity to do just that!
        </p>
        <p>
            You can easily submit the id, name and grade of each student, <br />
            change or delete an entry, or see the complete grade table!
        </p>
    </section>
</div>