@using GradesNamespace;

@{
    Page.Title = "Search for a grade";
    Layout = "_Layout.cshtml";


    bool NotExistingID = false;
    bool NotExistingName = false;
    List<GradeTable> answer = new List<GradeTable>();
    WebGrid answergrid;

    if (IsPost)
    {
        var num1 = Request.Form["id"].AsInt();
        var num2 = Request.Form["FirstName"];
        var num3 = Request.Form["LastName"];

        if (Request.Form["id"].IsInt() && num1 > 0)
        {
            using (var db = new StudentGrades())
            {
                var idsearch = db.GradeTable.FirstOrDefault(x => x.StudentID == num1);
                if (idsearch == null) { NotExistingID = true; }
                else
                {
                    answer.Add(idsearch);
                }
            }
        }
        if (Request.Form["FirstName"]!=null && Request.Form["LastName"] != null)
        {
            using (var db = new StudentGrades())
            {
                var namesearch = db.GradeTable.Where(b => b.StudentFirstName == num2 && b.StudentLastName == num3).ToList();
                if (!namesearch.Any()) { NotExistingName = true; }
                else
                {
                    answer.AddRange(namesearch);
                }
            }
        }
    }
    answergrid = new WebGrid(answer);
}

<div>
    <section class="intro">
        <p>
            You can search for the grade of a student by using the id or the name of the student.<br />
        </p>
            @answergrid.GetHtml(columns: answergrid.Columns(
                    answergrid.Column("StudentID"),
                    answergrid.Column("StudentFirstName"),
                    answergrid.Column("StudentLastName"),
                    answergrid.Column("Grade")))
        
        <article>
            
            <form action="/SearchGrade" method="post">
                If you want to search by using the id of the student, <br />
                please submit the <strong>id</strong> of the student:<br />
                <input type="text" name="id" id="id" size="10" required><br />
                @if (NotExistingID == true)
                {
                    <font color="red">The submitted ID does not exist, please submit an new ID.</font><br />
                }
                <button type="submit" id="searchid">Search by id</button>
            </form>
        </article>
        <article>
            If you want to search by using the name of the student, <br />
            please submit the <strong>name</strong> of the student:<br />
            <form action="/SearchGrade" method="post">
                First Name<br /><input type="text" name="FirstName" id="FirstName" required><br />
                Last Name<br /><input type="text" name="LastName" id="LastName" required><br />
                @if (NotExistingName == true)
                {
                    <font color="red">The submitted name does not exist, please submit an new name.</font><br />
                }
                <button type="submit" id="searchname">Search by name</button>


                
                
            </form>
        </article>
        
    </section>
</div>